body {
    background-color: #212121;
    font-family: "URW Gothic";
}
    .login-container {
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .login-container h2 {
        text-align: center;
        align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
        justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
        margin-bottom: 20px;
    }
    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .login-container input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .login-container input[type="submit"]:hover {
        background-color: #45a049;
    }

.logo {
    display: flex;
    max-width: 50px; /* Establece el ancho máximo de la imagen */
    max-height: 50px; /* Establece la altura máxima de la imagen */
    margin-right: 10px;
}

.header {
    display: flex; /* Establece un contenedor flexible */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
    margin-top: 10px
}

h1 {
    color: #1db954;
    text-align: center; /* Centra el texto dentro del h1 */
    margin: 0; /* Elimina cualquier margen predeterminado que pueda tener el h1 */
}

.Paragraf1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator{
    height: 2px;
    background-color: green;
    margin: 20px 0;
}
