body {
    background-color: #212121;
    font-family: "URW Gothic";
}

.logo {
    display: flex;
    max-width: 50px; /* Establece el ancho máximo de la imagen */
    max-height: 50px; /* Establece la altura máxima de la imagen */
    margin-right: 10px;
}

.header {
    display: flex; /* Establece un contenedor flexible */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
    margin-top: 10px
}

h1 {
    color: #1db954;
    text-align: center; /* Centra el texto dentro del h1 */
    margin: 0; /* Elimina cualquier margen predeterminado que pueda tener el h1 */
}

.Paragraf1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
