@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

body {
    background-color: #212121;
    font-family: "URW Gothic";
    margin: 0;
    padding: 0;
}

.genericButton{     /*genericButton = button*/
    display: inline-block;
    padding: 10px 20px;
    background-color: #16a085;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 10px;
}

.genericButton:hover {
    background-color: #026e59;
}




  /* Estilos generales para el formulario */
.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos para los campos de entrada */
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.signup-form {
    max-width: 400px;
    border: 1px solid #ccc;
    padding: 1.5%;
    border-radius: 20px;
    background-color: #ffffff;
    text-align: center;
    position: absolute;
    margin-top: 18.5%;
    margin-bottom: 18.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos para los campos de entrada */
.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
}
.error-container {

}

.container-home {
    text-align: center;
    margin-top: 100px;
}
.container-home h2, p{
    color: white;
}
.container-home-buttons {
    display: flex;
    text-align: center;
    justify-content: center; /* Centra elementos verticalmente */
}
.container-home-buttons form{
    margin: 10px;
}

.logo {
    display: flex;
    max-width: 50px; /* Establece el ancho máximo de la imagen */
    max-height: 50px; /* Establece la altura máxima de la imagen */
    margin-right: 10px;
}

.header {
    display: flex; /* Establece un contenedor flexible */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
    background-color: #16a085;
    padding: 1%;
}
.header h1{
    color: white;
    text-align: center;
    margin: 1%;
    font-size: 40px;
}

h1 {
    color: #1db954;
    text-align: center; /* Centra el texto dentro del h1 */
    margin: 0; /* Elimina cualquier margen predeterminado que pueda tener el h1 */
}
.h1:hover {
    background-color: #16a085;
}

.Paragraf1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator{
    height: 2px;
    background-color: white;
}
.return-home-link {
    font-size: smaller; /* Esto hará que el texto sea más pequeño */
    text-decoration: underline; /* Elimina el subrayado */
}

.button-container {
    position: absolute; /* Posicionamiento absoluto */
    top: 50%; /* Ubica el contenedor en el 50% del borde superior */
    left: 50%; /* Ubica el contenedor en el 50% del borde izquierdo */
    margin-top: 17%;
    transform: translate(-50%, -50%); /* Centra el contenedor exactamente en el centro */
    display: flex;
    flex-direction: column; /* Organiza los botones en columnas */
    align-items: center; /* Centra horizontalmente los botones */
}
.button-container p{
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 20px;
}

.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
}

/*modificar amb bootstrap*/
.row {
    display: flex;
}

/*modificar amb bootstrap*/
.column {
    flex: 50%; /* Hace que ambas columnas ocupen el mismo ancho */
    padding: 10px; /* Añade un espacio entre el contenido y los bordes de las columnas */
}

.large-button {
    font-size: 20px;
    display: flex;
}

.small-button {
    font-size: 10px;
    display: flex;
}

/* Estilo del contenedor de la barra de búsqueda */
.search-container {
    width: 100%;
    position: relative;
    align-items: center;
    display: flex;
}

/* Estilo de la barra de búsqueda */
.search-input {
    width: 80%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

/* Estilo del botón de búsqueda */
/*
.search-button {
    position: absolute;
    right: 10px;
    background: #16a085;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.search-button:hover {
    background-color: #026e59;
}
*/
.centered-text {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 32px;
}

.top-container {
        background-color: #424949;
        padding-right: 1%;
        padding-left: 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.top-container h2{
    color: white;
}

.error_404{
    background-color: white;

}

.PlaylistName {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding-top: 1%;
}

.playlist-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1%
}

.deleteButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: "URW Gothic";
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin: 10px;
}

.cançons {
    width: 100%;
    max-width: 600px;
    margin: auto;
}
