body {
    background-color: #212121;
    font-family: "URW Gothic";
    margin: 0;
    padding: 0;
}

.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #16a085;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: "URW Gothic";
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.button:hover {
    background-color: #026e59;
}


  /* Estilos generales para el formulario */
.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos para los campos de entrada */
.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.signup-form {
    max-width: 400px;
    margin: 0 auto; /* Esto centra el formulario horizontalmente */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    text-align: center;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos para los campos de entrada */
.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.container-home {
    text-align: center;
    margin-top: 100px;
}
.container-home h2, p{
    color: white;
}
.container-home-buttons {
    display: flex;
    text-align: center;
    justify-content: center; /* Centra elementos verticalmente */
}
.container-home-buttons form{
    margin: 10px;
}

.logo {
    display: flex;
    max-width: 50px; /* Establece el ancho máximo de la imagen */
    max-height: 50px; /* Establece la altura máxima de la imagen */
    margin-right: 10px;
}

.header {
    display: flex; /* Establece un contenedor flexible */
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
    margin-top: 10px
}

h1 {
    color: #1db954;
    text-align: center; /* Centra el texto dentro del h1 */
    margin: 0; /* Elimina cualquier margen predeterminado que pueda tener el h1 */
}

.Paragraf1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.separator{
    height: 2px;
    background-color: green;
    margin: 20px 0;
}
.return-home-link {
    font-size: smaller; /* Esto hará que el texto sea más pequeño */
    text-decoration: underline; /* Elimina el subrayado */
}