{% extends "base.html" %}
{% load static %}
{% block title %}Búsqueda de Canciones{% endblock %}

{% block content %}
    <input type="text" id="searchInput" placeholder="Search for songs, artists, etc.">
    <button onclick="buscarCancion()">Search</button>
    <div id="searchResults"></div>

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'javascript/searchFiveSongs.js' %}"></script>
{% endblock %}
{% endblock %}