{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="login-form" style="justify-content: center">
    <form  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {% for field in form %}
            <tr>
                <td>
                    <div style="margin: 10px;">
                        <label style="font-size: 1.2em;">{{ field.label_tag }}</label>
                        <div style="font-size: 0.8em; resize: none">{{ field }}</div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        <button class="genericButton" type="submit">Create</button>
    </form>
</div>
{% endblock %}
