{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="separator"></div>
<div class="top-container">
    <h2>Hi {{ user.username }}!</h2>
  <form action="{% url 'logout' %}" method="post">  <!--Formulario para cerrar sesión-->
    {% csrf_token %}
    <button class="genericButton" type="submit">Log Out</button>
  </form>
</div>

<div class="separator"></div>

<div class="row">
    <div class="column" style="background-color:#aaa;">
        <form action="{% url 'web:playlist_create' %}" method="get">
            <div style="display: flex; justify-content: center; align-items: center">
                <h1>My Playlists</h1>
                {% if user.is_authenticated %}
                    <button class="genericButton large-button" type="submit">Crea una playlist</button>
                {% endif %}
            </div>
        </form>
        <ul>
            {% if user.is_authenticated %}
                {% for playlist in user_playlists %}
                    <li>
                        <div style="display: flex; justify-content: space-between;align-items: center">
                            <a  class="playlistButton myplaylists" href="{% url 'web:playlist_detail' playlist.id %}">{{ playlist.name }}</a>
                            {% if playlist.user == user %}
                            <a class="deleteButton" style="height: 10px" href="{% url 'web:playlist_delete' playlist.id %}">Eliminar</a>
                            {% endif %}
                        </div>
                    </li>
                {% empty %}
                    <li>Sorry, you don't have any playlists yet.</li>
                {% endfor %}
            {% else %}
                <li>Sorry, you have to log in.</li>
            {% endif %}
        </ul>
        <h1>All Playlists</h1>
        <ul>
            {% for playlist in all_playlists %}
                <li><a  class="playlistButton allplaylists" href="{% url 'web:playlist_detail' playlist.id %}">{{ playlist.name }}</a></li>
            {% empty %}
                <li>Sorry, no playlists registered yet.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="column" style="background-color:#bbb;">
        <form>
            <input class="search-input" type="text" id="searchPlaylist" placeholder="Search playlists"
               onkeydown="if (event.keyCode == 13) buscarPlaylist(event)">
            <button class="genericButton" onclick="buscarPlaylist(event)">Search</button>
        </form>
        <div id="results"></div>

        {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'javascript/searchFiveSongs.js' %}"></script>
        <script src="{% static 'javascript/searchPlaylists.js' %}"></script>
        {% endblock %}
    </div>
</div>


{% else %}

<div class="container-home">
    <h2>Bienvenido</h2>
    <p>Por favor, inicia sesión o regístrate</p>
    <div class = "container-home-buttons">

        <form action="{% url 'login' %}" method="post"> <!-- We can add a form to log out here -->
            {% csrf_token %}
            <button class="genericButton" type="submit">Log In</button>
        </form>
        <form action="{% url 'signup' %}" method="post"> <!-- We can add a form to log out here -->
            {% csrf_token %}
            <button class="genericButton" type="submit">Sign Up</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}
