{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
Hi {{ user.username }}!

<div class="button-container">
    <p style="color: white;">Tria un servei: </p>
  <div class="button-row">
    <button class="large-button"> Funció 1</button>
    <button class="large-button"> Funció 2</button>
  </div>
  <div class="button-row">
    <button class="large-button"> Funció 3</button>
    <button class="large-button"> Funció 4</button>
  </div>
</div>


<div class="top-right-container">
  <form action="{% url 'logout' %}" method="post"> <!-- Formulario para cerrar sesión -->
    {% csrf_token %}
    <button class="button" type="submit">Log Out</button>
  </form>
</div>


</form>
{% else %}

<div class="container-home">
    <h2>Bienvenido</h2>
    <p>Por favor, inicia sesión o regístrate</p>
    <div class = "container-home-buttons">

        <form action="{% url 'login' %}" method="post"> <!-- We can add a form to log out here -->
            {% csrf_token %}
            <button class="button" type="submit">Log In</button>
        </form>
        <form action="{% url 'signup' %}" method="post"> <!-- We can add a form to log out here -->
            {% csrf_token %}
            <button class="button" type="submit">Sign Up</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}