{% extends "base.html" %}

{% block title %}Detalles de la Playlist{% endblock %}

{% block content %}
<div class="container">
    <div class="playlist-header">
        <h1 class="PlaylistName">{{ playlist.name }}</h1>
        <a href="{% url 'web:song_create' playlist.pk %}">
            <button class="genericButton">Afegir Cançó</button>
        </a>
    </div>
    <ul class="cançons">
    {% for song in playlist.songs.all %}
        <li style="display: flex; justify-content: space-between; align-items: center;">
            <span class="Paragraf1">{{ song.title }} - {{ song.artist }}</span>
            <form action="{% url 'web:delete_song' song.id playlist.id %}" method="POST" class="inline">
                {% csrf_token %}
                <button type="submit" class="deleteButton">Eliminar</button>
            </form>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
