{% extends "base.html" %}

{% block title %}Detalles de la Playlist{% endblock %}

{% block content %}
<span vocab="https://schema.org/" typeof="MusicPlaylist">
<div class="container">
    <div class="playlist-header" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
        <h1 class="PlaylistName"><span property="name"> {{ playlist.name }}</span></h1>
            <p style="color: white;">
                Genre/s:
                {% with genres=playlist.genres.all  %}
                    {% for genre in genres %}
                        {% if not forloop.last %}
                            {{ genre }},
                        {% else %}
                            <span property="genre">{{ genre }}</span>
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            </p>

        <p class="description">Description: <span property="description"> {{playlist.description}}</span></p>
        <p class="user_id">Playlist created by:<span property="creator"> {{playlist.user}}</span></p>
        <span  property="dateCreated" content="{{playlist.date}}"> </span>
        {% if user.is_authenticated and user == playlist.user %}
            <div style="display: flex; justify-content: center; align-items: center">
                <a href="{% url 'web:playlist_edit' playlist.id %}">
                    <button class="genericButton">Edit Playlist</button>
                </a>
                <a href="{% url 'web:song_create' playlist.id %}">
                    <button class="genericButton addSongButton">Add Song</button>
                </a>
            </div>
        {% endif %}
    </div>
    <p>
        {% with playlist.songs.all|length as songCount %}
        <span property="numTracks" content="{{ songCount }}">
        </span>
        {% endwith %}
    </p>



    <ul class="cançons" rel="tracks">
    {% for song in playlist.songs.all %}
        <li style="list-style-type:none" resource="#song{{song.pk}}" typeof="MusicRecording">
            <div class="playlistButton" style="display: flex; justify-content: space-between; align-items: center">
                <img style="height: 40px; width: 40px; border-radius: 10px" src="{{ song.url_imagen }}" alt="Song Image" property="image">
                <!-- Enlace al detalle de la canción -->
                <span property="name" content = "{{ song.title }}"></span>
                <a style="text-decoration: none; font-size: 20px;" href="{% url 'web:song_detail' pk=song.pk %}" class="Paragraf1">{{ song.title }} </a>
                <span style="color: white;">
                    {% for artist in song.artists.all %}
                       <span property= "byArtist"> {{ artist.name }}</span>
                    {% endfor %}
                </span>
                {% if user.is_authenticated and user == playlist.user %}
                    <form action="{% url 'web:song_delete' playlist.id song.id %}" method="POST" class="inline">
                        {% csrf_token %}
                        <button type="submit" class="deleteButton">Delete</button>
                    </form>
                {% endif %}
            </div>
        </li>
    {% endfor %}
    </ul>
</div>
</span>
{% endblock %}
